/* Banner */

.banner {
    background: #0081ff url('../img/banner.jpg') no-repeat center top / cover;    
    position: relative;
    color: #fff;
}

.banner:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,  #0081ff 0%,#39b54a 100%);
    position: absolute;
    top: 0;
    left: 0;    
    z-index: 1;
    opacity: 0.8;
}

.banner > div {    
    position: relative;
    z-index: 2;
}

.banner .row {
    height: 100vh;
    text-align: center;
    align-items: center;
}

.banner h1 {
    font-size: 24px;
}

.banner p {
    font-size: 16px;
}

@media (min-width: 760px) {
    .banner h1 {
        font-size: 35px;
    }

    .banner p {
        font-size: 25px;
    }

    .banner br {
        display: block;
    }
}