.App,
.pagina-avaliacoes {
  text-align: center;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, .pagina-avaliacoes {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {  
  border: none;
  font-size: 1em;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
}

.verde-msg {
  background-color: rgb(7, 133, 7);  
  color: white;
}

.verde {
  background-color: rgb(54, 156, 6);
  border: solid 2px rgb(102, 170, 74);
  color: white;
}

.azul {
  background-color: rgba(0, 0, 255, 0.733);
  border: solid 2px blue;
  color: white;
}

.vermelho {
  background-color: rgba(255, 0, 0, 0.904);
  border: solid 2px red;
  color: white;
}

.botoes {
  margin-top: 10px;
}

.botoes .btn {
  margin: 0 15px;
}

.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.invisivel {
  display: none;
}

.fade-in {
  animation: fadein 1s linear forwards;
}

.fade-out {
  animation: fadeout 1s linear forwards;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; visibility: visible; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; visibility: hidden; }
}

.mensagem-erro {
  color: red;
  font-size: 12px;
}

.erro {
  border-color: red;
}

.link {
  text-decoration: none;
  color: #fff;
}

table, th, td {
  border: 1px dashed black;
  border-collapse: collapse;
  padding: 10px;
}

td {
  width: 300px;
}

.link input {
  position: relative;
  margin-bottom: 30px;
  background-color: #bbb;  
  width: 150px;
  text-align: center;
} 

.listagem {
  margin-top: 20px;
}

a {
  color:#fff;
  text-decoration: none;
}

.avaliacoes-table { 
  padding: 5px;  
  border: 1px dashed #000;
  min-width: 60vw;  
  
}

.avaliacoes-table > a {
  font-size: calc(5px + 2vmin);
}

.avaliacoes-container {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  min-width: 80vw; 
  padding: 5px; 
}