/* Style */

.carousel-img {
    height: 50vh;
    background: url('../img/banner.jpg') no-repeat center top / cover;
}

textarea.form-control {
    min-height: 75px;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem #937;
}