#components-layout-demo-side .logo {
  height: 32px !important;
  margin: 16px !important;
  background: rgba(255, 255, 255, 0.3) !important;
}

.site-layout .site-layout-background {
  background: #fff !important;
}

.logo {
  height: 32px !important;
  margin: 16px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001529 !important;
  justify-content: space-evenly;
  padding: 0 20px;  
}

.logo-name {  
  color: #fff;  
  border-left: 5px;
}
