.btn {  
  font-size: 0.7em;
  border-radius: 3px;
  padding: 4px 30px;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.btn a:hover, .btn a:active {
  color: #ccc;
}

.avaliacoes {
  background-color: rgba(0, 0, 0, 0.808);
  border: solid 2px rgb(0, 0, 0);
  color: white;
  margin-top: 40px;
}

