/* General */

.container {
  padding: 10px;
  height: 70vh;
  width: 120vh;
}

.esquerda {
  background: linear-gradient(to right, rgba(213, 59, 62, 1) 0%, rgba(213, 59, 62, 1) 50%, rgba(168, 35, 37, 1) 51%, rgba(168, 35, 37, 1) 100%);
  border-radius: 20px;
  border-left: 15px solid #922526;
  border-bottom: 15px solid #922526;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.3fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 0.4fr;
  gap: 5px;
  grid-template-areas: "luzes luzes luzes meio dir dir dir" "display display display meio stat stat stat" "botao botao botao meio stat stat stat";
}

.stat {
  grid-area: stat;
}

.dir {
  grid-area: dir;
  background-color: rgb(255, 255, 255);
  border: solid 5px rgb(255, 255, 255);
}

.meio {
  grid-area: meio;
  border-radius: 30px;
  background: linear-gradient(to right, rgba(204, 0, 0, 1) 0%, rgba(155, 0, 0, 1) 53%, rgba(204, 0, 0, 1) 100%);
}

.luzes {
  display: flex;
  grid-area: luzes;
  padding: 15px;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: display;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: botao;
  padding-right: 25px;
}

.bola-azul {
  background: radial-gradient(ellipse at center, rgba(135, 224, 253, 1) 27%, rgba(135, 224, 253, 1) 27%, rgba(83, 203, 241, 1) 46%, rgba(5, 171, 224, 1) 78%);
  border: 5px solid #bbb;
  width: 80px;
  height: 80px;
}

.bolinha-vermelha {
  background: radial-gradient(ellipse at center, rgba(243, 197, 189, 1) 0%, rgba(255, 102, 0, 1) 20%, rgba(234, 40, 3, 1) 41%, rgba(199, 34, 0, 1) 100%);
  border: 1px solid #bbb;
  width: 20px;
  height: 20px;
}

.bolinha-verde {
  background: radial-gradient(ellipse at center, rgba(180, 227, 145, 1) 0%, rgba(97, 196, 25, 1) 31%, rgba(180, 227, 145, 1) 89%);
  border: 1px solid #bbb;
  width: 20px;
  height: 20px;
}

.bolinha-amarela {
  background: radial-gradient(ellipse at center, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 27%, rgba(248, 181, 0, 1) 62%, rgba(251, 223, 147, 1) 100%);
  border: 1px solid #bbb;
  width: 20px;
  height: 20px;
}

.bola-azul, .bolinha-vermelha, .bolinha-verde, .bolinha-amarela {
  border-radius: 50%;
  margin: 0 5px;
}

.stat, .nome, .img, .visor, .altura, .peso, .tipo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.nome {
  font-size: 24px;
  margin-bottom: 10px;
}

.visor {
  position: absolute;
  background: linear-gradient(to right, rgba(27, 27, 27, 1) 0%, rgba(56, 56, 56, 1) 13%, rgba(78, 78, 78, 1) 24%, rgba(10, 10, 10, 1) 47%, rgba(1, 1, 1, 1) 50%, rgba(13, 13, 13, 1) 54%, rgba(149, 149, 149, 1) 100%);
  height: 35vh;
  width: 40vh;
  border-radius: 30px;
  border-left: 5px solid rgb(82, 82, 82);
  border-bottom: 5px solid rgb(82, 82, 82);
}

.visor-interno {
  position: relative;
  background-color: #98cc98;
  height: 30vh;
  width: 35vh;
  border-radius: 30px;
  border: solid 1px #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visor-stat {
  background: linear-gradient(to right, rgba(149, 149, 149, 1) 0%, rgba(13, 13, 13, 1) 46%, rgba(1, 1, 1, 1) 50%, rgba(10, 10, 10, 1) 53%, rgba(78, 78, 78, 1) 76%, rgba(56, 56, 56, 1) 87%, rgba(27, 27, 27, 1) 100%);
  height: 45vh;
  width: 40vh;
}

.visor-interno-stat {
  background: linear-gradient(135deg, rgba(202, 234, 246, 1) 3%, rgba(241, 250, 253, 1) 45%, rgba(241, 250, 253, 1) 100%);
  height: 40vh;
  width: 35vh;
}

.info-left, .info-rigth {
  margin: 0 20px;
}

.btn-aleatorio {
  height: 6vh;
  width: 6vh;
  background-color: rgb(15, 15, 15);
  border-radius: 50%;
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
}

.btn-aleatorio:hover {
  background-color: #383737;
  border-bottom: 5px solid rgb(110, 110, 110);
  border-left: 5px solid rgb(110, 110, 110);
}

.btn-prev, .btn-next {
  height: 2vh;
  width: 8vh;
  border-radius: 30px;
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
}

.btn-prev {
  background-color: rgb(57, 130, 190);
}

.btn-next {
  background-color: rgb(109, 201, 43);
}

.prev-next {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn-aleatorio, .btn-next, .btn-prev {
  margin: 0 20px;
}

.input {
  font-size: 20px;
  color: rgb(22, 21, 21);
  padding: 10px;
  height: 9vh;
  width: 28vh;
  border-radius: 12px;
  background-color: #56d280;
  border-right: 2px solid #3e5f1d;
  border-top: 2px solid #3e5f1d;
  text-align: center;
}

.campo-input {
  margin-top: 8px;
  border-radius: 12px;
  height: 3vh;
}

.info-alt, .info-peso, .info-tipo, .info-id .estatisticas {
  display: flex;
  text-align: center;
  border: 1px dashed rgb(104, 103, 103);
  border-radius: 2px;
  padding: 7px;
}

.info-id span {
  padding: 0;
}

.estatisticas {
  font-size: 22px;
  margin-top: 10px;
}

span {
  padding-left: 5px;
}

.basic-info {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 30px;
}

.info-stat {
  font-size: 24px;
}

.visor-interno-stat {
  display: flex;
  flex-direction: column;
  padding: 0 80px;
}