/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, input, textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #666;
}

ul {
  list-style: none;
}