/* Login */

.login-container {
  background-color: rgba(127, 168, 207, 0.349);  
  border-radius: 12px;  
}

.login-title {
  padding-top: 15px;
  color:rgb(55, 66, 55);  
  font-size: 22px;
}

.ant-btn-dangerous.ant-btn-primary {  
  background: rgb(96, 114, 126) !important;
  border-color: #5b4e7e !important;  
}

.ant-btn-dangerous.ant-btn-primary:hover,
.ant-btn-dangerous.ant-btn-primary:focus {  
  background: rgb(53, 151, 49) !important;
  border-color: #0fac24 !important;
}
